<nav class="nav-main">
    <h2>Create</h2>
    <h1>Publication</h1>
    <hr>
</nav>

<%= render "form.html", Map.put(assigns, :action, Routes.posts_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.page_path(@conn, :index) %></span>